asgiref==3.8.1
beautifulsoup4==4.11.2
cachetools==5.3.0
certifi==2022.12.7
chardet==5.1.0
charset-normalizer==3.1.0
colorama==0.4.6
distlib==0.3.6
django-bootstrap-icons==0.8.2
django-bootstrap-v5==1.0.11
djangorestframework==3.16.0
factory-boy==3.2.1
factory-djoy==2.2.2
Faker==17.6.0
filelock==3.9.0
flake8==6.0.0
idna==3.4
jsonpickle==4.0.5
libsass==0.22.0
mccabe==0.7.0
mod_wsgi==4.9.4
packaging==23.0
platformdirs==3.1.1
pluggy==1.0.0
pycodestyle==2.10.0
pyflakes==3.0.1
pyproject_api==1.5.0
python-dateutil==2.8.2
python-dotenv==1.0.0
PyYAML==6.0
rcssmin==1.1.1
requests==2.28.2
rjsmin==1.2.1
six==1.16.0
soupsieve==2.4
sqlparse==0.4.3
toposort==1.10
types-factory-boy==0.4.0
typing_extensions==4.5.0
urllib3==1.26.15
gunicorn==23.0.0
